/*Estilo para el botón de añadir actividades*/

.floatingButton {
    position: fixed;
    bottom: 4%;
    right: 4%;
    /*hacemos que laimagen esté dentro de un círdulo*/
    border-radius: 50%;
    z-index: 999; /* Asegura que esté por encima de cualquier otro contenido */
}

.floatingButton button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.foroButton {
    cursor: pointer;
    background-color: #322272;
    border: none;
    outline: none;
    box-shadow: none;
}