/*Estilo del Login*/

.loginContainer {
  background-image: url('/images/background1.png'); 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loginBox {
  background-color: #ffffff; 
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  justify-content: flex-start;
  width: 35%;
  height: 85%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px;
}

.configureBox {
  background-color: #ffffff; 
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  justify-content: flex-start;
  width: 35%;
  height: 85%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px;
}

.center {
  margin-top: 5%;
  margin-bottom: 5%;
}

.loginBox h1 {
  margin-bottom: 10%;
  margin-top: 30%;
  color: #322272;
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 5rem;
}
.configureBox h2 {
  margin-bottom: 10%;
  margin-top: 10%;
  width: 100%;
  color: #322272;
  font-family: 'prompt black', sans-serif;
  font-size: 2.3em;
}

.availabilitySchedule label{
  display: block;
  margin-bottom: 4%;
  color: #322272;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1.3em;
  text-align: left;
}

.availabilitySchedule table {
  border-collapse:separate; 
  border-spacing: 0 1%;
}

.availabilitySchedule th{
  color: #322272;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1em;
}

.availabilitySchedule td{
  color: #322272;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1em;
}

.availabilitySchedule input{
  color: #322272;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1em;
  width:40%;
  text-align: center;
  border: none;
  outline: none;
  border-radius:7px;
  border: 1px solid #322272;
}

.formGroup {
  margin-bottom: 5%;
}


.formGroup label {
  display: block;
  margin-bottom: 2%;
  color: #322272;
  font-family: 'prompt', sans-serif;
  font-size: 1.5em;
  text-align: left;
} 

.formGroup input {
  width: 100%;
  text-size-adjust: 100%;
  font-size:1.3em;
  color:#796daa;
  font-family: 'prompt', sans-serif;
  /*padding: 10px;*/
}

.formGroup p {
  color: #5475c2;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1em;
  margin-top: 1%;
}

.formGroup a{
  color: #322272;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
}

.inputLine {
  border: none; 
  color: #6650c0;
  border-bottom: 2px solid #6650c0; 
  color: rgba(255, 255, 255, .8);
  background-color: transparent;  
  width: 100%; 
  outline: none;
}

/* Estilo para el marcador (placeholder) */
.inputLine::placeholder {
  color: #6585cf; 
}

.inputLine:focus {
  border-bottom: 2px solid #120935; 
}

.inputLine:focus::placeholder {
  color: transparent; 
}

.registerBox {
  background-color: #ffffff; 
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  justify-content: flex-start;
  width: 35%;
  height: 65%;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px;
}


.checkboxContainer {
  display: flex; 
  text-align: left;
  align-items: left ; /* Alinear elementos horizontalmente pegados a la izquierda */
}

.checkboxContainer label {
  display: block;
  border: 2px solid #322272;
  width: 1em;
  height: 1em;
  color: #322272;
  margin-right: 0.5em;  
  cursor: pointer;
}
.checkboxContainer input {
  display: none;
  
}
.checkboxContainer input:checked + label {
  background-color: #322272;
}

.checkboxContainer span {
  color: #4668b8;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1em;
  text-align: left;
  padding-top: 0.2em;
  margin-right: 1em;
}
/**/
.formGroup button {
  width: 100%;
  padding: 5%;
  border: none;
  border-radius: 10px;
  background-color: #322272;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 2%;
}

.formGroup button:hover {
  background-color: #150041;
}

.chosenEmail {
  /* bold text */
  font-weight: bolder;
  text-align: center;
}

.redText{
  color: #EF0000 !important;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1em;
  text-align: left;
}

/* Estilos para el dropdown */
.dropdownContainer{
  display: flex;
  justify-content: flex-start;
}

.dropdown {
  background-color: #ffffff;
  color: #322272;
  border: none; 
  border-bottom: 2px solid #322272;
  font-size: 1em;
  width: 30%;
  font-family: 'Montserrat-Regular', sans-serif;
  margin-bottom: 3%;
  margin-right: 2em;
  
}

.dropdown:focus {
  border-bottom: 2px solid #322272; 
}

.dropdown:hover {
  cursor: pointer;
}

.linkGroup {
  margin-top: 2%;
  margin-bottom: 5%;
}

.link {
  color: #5c7dcc;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.link:hover {
  color: #715dc1;
}

/* Estilos para las opciones */
.option {
  background-color: #ffffff;
  color: #322272;
  border: 1px solid #322272;
}

/*Estilo para la bio*/
.biographyContainer {
  width: 100%;
  margin-bottom: 20px;
}
.inputBio{
  width: 100%;
  height: 100%;
  color: #322272;
  border: 2px solid #322272;
  border-radius: 10px;
  resize: none;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 1em;
  padding: 1%;
  background-color: #ffffff;
}

.inputBio:focus{
  border: 2px solid #322272 !important;
  border-color: #322272;
}
.inputBio::placeholder {
  color: #322272; 
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf');
}
