/* Estilo de la Barra de Búsqueda */

.searchBar {
    padding-left: 45%; 
    padding-top: 5%;
}
  
.searchBar input {
    padding: 5px; 
    margin-right: 5px; 
    background-color: white;
}
  
.searchBar button {
    background-color: #0130ff;
    color: white; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}  